.loader-body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}


.rotate-container {
    width: 200px;
    height: 200px;
    -webkit-animation: myAnim 4s linear infinite;
  animation: myAnim 4s linear infinite;
}

img {
    max-width: 100%;
    height: auto;
}

@keyframes myAnim {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}